@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Space+Mono:wght@400;700&display=swap');



:root {
    font-size: 16px;
    --main-bg-color: rgb(243, 199, 255);
    --tab-bg-color: rgb(225, 162, 64);
    --special-bg-color: rgb(190, 90, 184);
    --corner-bevel: 100;

}

html {
    background-color: var(--main-bg-color);
}

body {
    margin: 0px auto 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    margin: 0px auto 0px;
    padding: 47px 0.5rem 0;
}

/* NAVBAR */

header {
    padding: 0;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: var(--main-bg-color);
}

header .logo {
    font-size: 1.5rem;
    line-height: initial;
    margin: 0rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header nav ul {
    display: none;
    list-style: none;
    padding: 1rem;
    margin: 0rem;
    position: absolute;
    text-align: right;
    right: 0px;
    top: 45px;
    width: 100vw;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid black;
}

header nav a {
    font-style: normal;
    border-bottom: none;
}

#navToggle {
    display: none;
}

#navToggle ~ label::before {
    content: "+";
    font-size: 2rem;
    display: inline-block;

}

#navToggle:checked ~ ul {
    display: block;
}

#navToggle:checked ~ label::before {
    transform: rotate(-45deg);
}

aside, footer {
    display: none;
}

/* ENDOF NAVBAR */

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    margin: 0 0.3rem 0;
}

ul {
    font-style: italic;
}

#project-brief {
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 83%;
}

#documentation {
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    padding: 5%;
    margin: 10% 0 10%;
}

hr {
    stroke-width: 1px;
    border-style: dotted;
    margin: 80px 0 80px;
}

strong {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

section {
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 83%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: black;
    border-bottom: 1px solid var(--special-bg-color);
    text-decoration: none;
    font-style: oblique;
}

h2 {
    margin: 3rem 0 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 107.5%;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

h5 {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
}

h6 {
    font-size: 5vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 107.5%;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-mask {
    height: 70px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.img-mask img {
    position: absolute;
    top: -70px;
    left: 0px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.week {
    background-color: var(--tab-bg-color);
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 1rem 2rem 3rem 2rem;
}

.grid h2 {
    grid-column: 1 / -1;
    background-color: var(--special-bg-color);
    padding: 2rem;
}

.grid h2 a,
.grid h2 a:hover,
.grid h2 a:focus,
.grid h2 a:active,
.grid h2 a:visited {
    border-bottom-color: var(--tab-bg-color);
}

ul {
    padding: 0;
    list-style: none;
}

.week ul li,
ul li {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {

    header {
        text-align: right;
        margin: 3rem 0;
    }

    main {
        padding: 0px;
    }

    .flexbox {
        flex-direction: row;
    }

    .columns {
        columns: 2;
    }

    .columns div {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    body {
        width: 940px;
    }
}


/*respionsive menu bars*/

.bottomnav {
    transform-origin: bottom;
    overflow: hidden;
    background-color: rgb(201, 132, 29);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
}

.bottomnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    letter-spacing: 1.5%;
    border-style: 5px solid black;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 10% 100%, 0 80%);
    /* z-index: -1;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  background-color: rgb(243, 199, 255);
  border: 1.5px solid #000000; */
}

/* .bottomnav a:last-child{
  background-color: rgb(255, 255, 255);
} */

.bottomnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.bottomnav a.active {
    background-color: rgb(243, 199, 255);
    color: rgb(0, 0, 0);
}

.bottomnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}