@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Space+Mono:wght@400;700&display=swap');



:root {
    font-size: 16px;
    --main-bg-color: rgb(243, 199, 255);
    --tab-bg-color: rgb(225, 162, 64);
    --special-bg-color: rgb(190, 90, 184);
    --corner-bevel: 100;

}

html {
    background-color: var(--main-bg-color);
}

body {
    margin: 0px auto 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    margin: 0px auto 0px;
    padding: 47px 0.5rem 0;
}


/* BASIC RESET */
a,
a:hover,
a:focus,
a:active,
a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* NAVBAR */

header {
    padding: 0;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: var(--main-bg-color);
}

.logo {
    font-size: 1.5rem;
    line-height: initial;
    margin: 0rem;
    display: inline-block;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header nav ul {
    display: none;
    padding: 1rem;
    margin: 0rem;
    position: absolute;
    text-align: right;
    right: 0px;
    top: 45px;
    width: 100vw;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid black;
}

header nav ul li {
    padding: 0.25rem 0;
}


#navToggle {
    display: none;
}

#navToggle ~ label::before {
    content: "+";
    font-size: 2rem;
    display: inline-block;

}

#navToggle:checked ~ ul {
    display: block;
}

#navToggle:checked ~ label::before {
    transform: rotate(-45deg);
}

aside, footer {
    display: none;
}

/* ENDOF NAVBAR */

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    margin: 0 0.3rem 0;
}

main ul {
    font-style: italic;
}

#project-brief {
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 83%;
}

#documentation {
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    padding: 5%;
    margin: 10% 0 10%;
}

hr {
    stroke-width: 1px;
    border-style: dotted;
    margin: 80px 0 80px;
}

strong {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

section {
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 83%;
}

main a,
main a:hover,
main a:focus,
main a:active,
main a:visited {
    border-bottom: 1px solid var(--special-bg-color);
    font-style: oblique;
}


h2 {
    margin: 3rem 0 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 107.5%;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

h5 {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
}

h6 {
    font-size: 5vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 107.5%;
    text-transform: uppercase;
}


.img-mask {
    height: 70px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.img-mask img {
    position: absolute;
    top: -70px;
    left: 0px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.week {
    background-color: var(--tab-bg-color);
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 1rem 2rem 3rem 2rem;
}

.grid h2 {
    grid-column: 1 / -1;
    background-color: var(--special-bg-color);
    padding: 2rem;
}

.grid h2 a,
.grid h2 a:hover,
.grid h2 a:focus,
.grid h2 a:active,
.grid h2 a:visited {
    border-bottom-color: var(--tab-bg-color);
}

main ul li {
    margin-bottom: 1rem;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
    header {
        display: none;
    }

    main {
        padding: 4rem 0;
    }

    .flexbox {
        flex-direction: row;
    }

    .columns {
        columns: 2;
    }

    .columns div {
        break-inside: avoid;
    }

    /* LAGRER SCREEN NAV */
    aside, footer {
        display: initial;
    }

    aside {
        writing-mode: vertical-lr;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    aside .logo:first-child {
        margin-inline-end: 1rem;
    }

    footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        border-top: 2px solid black;
        background-color: var(--main-bg-color);
        width: 100vw;
    }

    footer nav ul {
        display: flex;
        justify-content: start;
    }

    footer nav ul li {
        display: inline-block;
        padding: 1rem;
        border-right: 1px solid black;
    }

}

@media (min-width: 960px) {
    body {
        width: 940px;
    }
}
